@import "../../styles/media";

.header-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: visible;
  padding-bottom: 1000px;
  margin-bottom: -1000px;

  @include respond-to-desktop-xl {
    top: -200px;
  }

  svg {
    overflow: visible;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    min-width: 1280px;
    margin: 0 auto;
  }
}