@import "../../styles/media.scss";

.header-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  @include respond-to('ipad', 'landscape', 'gt') {
    // top: -250px;
  }

  svg {
    overflow: visible;
  }

  svg.svg-first {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: auto;
  }

  svg.svg-second {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: auto;
  }

  svg.svg-third {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: auto;
  }
}