.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  svg.svg-first {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  svg.svg-second {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  svg.svg-third {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
}