{
  "presets": [["es2015", { "loose": true }], "stage-1", "react", "flow"],
  "plugins": [
    "transform-decorators-legacy",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "ignore": [
    "/node_modules/"
  ]
}
