@import "../../styles/fonts";
@import "../../styles/constants";

.interfaces {
  display: flex;
  background: #fff;
  padding: 100px;
  border-radius: 6px;
  flex-direction: row;

  h1 {
    margin-top: 0;
    font-family: $work-sans-font-family;
    font-weight: bold;
    font-size: 18pt;
    letter-spacing: 2.8pt;
    color: $theme-medium-blue;
  }

  p {
    font-family: $source-sans-pro-font-family;
    font-weight: lighter;
    color: $theme-medium-purple;
    max-width: 275px;
    font-size: 15pt;
  }

  .line {
    width: 350px;
    height: 4px;
    background-color: $theme-medium-light-blue;
    margin-top: 25px;
  }

  .description, .figure {
    display: flex;
    flex: 1;
  }

  .description {
    flex-direction: column;
  }

  .figure {
    align-content: center;
    justify-content: center;
  }
}