@import "../../styles/constants";
@import "../../styles/fonts";

.process {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
  position: relative;
  z-index: 3;

  .process-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
  }

  .subtitle {
    color: $theme-medium-purple;
    text-align: center;

    &::selection {
      background-color: $theme-light-blue;
      color: $theme-medium-blue;
    }
  }

  .call-to-action-button {
    background-color: $theme-medium-magenta;
    color: #fff;
    margin-top: 45px;
  }

  .scroll-indicator {
    position: fixed;
    bottom: 25px;
  }

  .below-scroll-content {
    margin-top: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.solutions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
  position: relative;
  
  .solutions-inner {

  }
}