@import "../../styles/constants";
@import "../../styles/fonts";
@import "../../styles/text";
@import "../../styles/media";

.body-subsection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    background-color: $theme-extra-light-blue;
  }

  &:last-of-type {
    padding-bottom: 200px;

    &:before {
      max-height: 60%;
    }
  }

  @include respond-to-desktop-xl {
    &:last-of-type:before {
      max-height: 80%;
    }
  }
}

.body-subsection.process {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;

  .process-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
  }

  .subtitle {
    @include paragraph;
    text-align: center;
    font-size: 17pt;
    margin: 75px 0;
  }

  .title {
    color: $theme-medium-purple;
    text-align: center;
    max-width: 600px;
  }

  .call-to-action-button {
    background-color: $theme-medium-magenta;
    color: #fff;
  }

  .scroll-indicator {
    position: fixed;
    bottom: 25px;
  }

  .below-scroll-content {
    margin: 175px 0 175px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @include respond-to-desktop-xl {
    .below-scroll-content {
      margin-top: 175px;
    }
  }
}