
$theme-extra-light-blue: #E3E7FE;
$theme-light-blue: #B9C5FF;
$theme-medium-blue: #4259D9;
$theme-medium-purple: #5D5875;
$theme-dark-purple: #2C292D;
$theme-medium-magenta: #FF6188;
$theme-medium-yellow: #FFEFB4;
$theme-white: #fff;