

$h1-default-font-size: 40pt;
$h2-default-font-size: 27pt;
$h3-default-font-size: 20pt;
$h4-default-font-size: 17pt;
$paragraph-default-font-size: 16pt;
$button-default-font-size: 18pt;

$h1-mobile-font-size: 30pt;
$paragraph-mobile-font-size: 14pt;