@import "./fonts";
@import "./constants";

@mixin paragraph {
  font-family: $source-sans-pro-font-family;
  font-weight: lighter;
  color: $theme-medium-purple;
  max-width: 350px;
  font-size: 14pt;
  line-height: 28px;

  &::selection {
    background-color: $theme-extra-light-blue;
  }
}

@mixin uppercase-style {
  font-family: $work-sans-font-family;
  font-weight: lighter;
  letter-spacing: 2.18pt;
  text-transform: uppercase;
}