@import "../../styles/fonts";
@import "../../styles/constants";
@import "../../styles/text";

.feature {
  display: flex;
  background-color: $theme-medium-light-blue;
  width: 100%;
  padding: 45px 100px;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  position: relative;

  h3 {
    @include paragraph;
    white-space: nowrap;
    color: #fff;
    margin-left: 148px;
  }

  .feature-call-to-action {
    font-size: 14pt;
    height: 45px;
    width: 200px;
  }

  .feature-image-left {
    position: absolute;
    top: 5px;
    left: 55px;
    bottom: 5px;

    img {
      height: 100%;
      width: auto;
    }
  }

  .feature-image-right {
    position: absolute;
    top: -25px;
    right: -25px;
    bottom: -25px;

    img {
      height: 100%;
      width: auto;
    }
  }
}