@import "../../styles/constants";
@import "../../styles/fonts";

.call-to-action-link {
  width: 260px;
  height: 57px;
  border-radius: 38px;
  background-color: $theme-white;
  font-family: $source-sans-pro-font-family;
  font-size: 15pt;
  color: $theme-medium-blue;
  box-shadow: 0px 5px 35px 0px rgba($theme-dark-purple, 0.15);
  transition: 200ms box-shadow ease-in-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active, &:focus, &:hover {
    box-shadow: 0px 5px 35px 0px rgba($theme-dark-purple, 0.35);
  }

  &:hover, &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}