@import "../../styles/text";

.navigation {
  display: flex;
  justify-content: space-between;
  flex: 1;

  .nav-links {
    display: flex;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .nav-logo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-link {
    @include uppercase-style;
    font-size: 10pt;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    padding: 45px 20px 0 20px;
    border-top-style: solid;
    border-top-color: transparent;
    border-top-width: 4px;

    &.active:not(.logo) {
      font-weight: bold;;
      border-top-color: #fff;
    }

    &.logo {
      padding-top: 35px;
    }
  }
}