@import "../../styles/fonts";
@import "../../styles/constants";
@import "../../styles/text";

.solutions {
  display: flex;
  flex-direction: column;
  width: 100%;

  .feature {
    margin: 150px 0;
  }
}

.solutions-section {
  display: flex;
  background: #fff;
  padding: 45px 100px;
  border-radius: 6px;
  flex-direction: row;
  position: relative;
  z-index: 1;
  width: 100%;

  .text-button {
    font-family: $source-sans-pro-font-family;
    font-weight: bold;
    color: $theme-medium-purple;
    font-size: 13pt;
    text-align: left;
    padding: 0;
    margin-top: 15px;
  }

  .uppercase-title, .uppercase-subtitle {
    font-family: $work-sans-font-family;
    font-weight: bold;
    letter-spacing: 2.8pt;
  }

  .uppercase-title {
    margin-top: 0;
    color: $theme-medium-blue;
    font-size: 18pt;
  }

  .uppercase-subtitle {
    margin: 0 0 10px 0;
    color: $theme-light-purple;
    font-size: 9pt;
  }

  p {
    @include paragraph;
    padding-top: 0;
  }

  .line {
    width: 350px;
    height: 2px;
    background-color: $theme-extra-light-blue;
    margin-top: 25px;
  }

  .description, .figure {
    display: flex;
    flex: 1;
    width: 50%;
  }

  .description {
    flex-direction: column;
    margin: 0 25px 0 0;
    justify-content: center;
  }

  .figure {
    margin: 0 0 0 25px;
    align-content: center;
    justify-content: center;
  }
}

.interfaces-figure {
  max-width: 446px;
  max-height: 456px;

  img {
    width: 100%;
    height: auto;
  }
}