@import "../../styles/fonts";
@import "../../styles/constants";
@import "../../styles/text";

.interfaces {
  display: flex;
  background: #fff;
  padding: 100px;
  border-radius: 6px;
  flex-direction: row;
  position: relative;
  z-index: 1;

  .uppercase-title, .uppercase-subtitle {
    font-family: $work-sans-font-family;
    font-weight: bold;
    letter-spacing: 2.8pt;
  }

  .uppercase-title {
    margin-top: 0;
    color: $theme-medium-blue;
    font-size: 18pt;
  }

  .uppercase-subtitle {
    margin: 0 0 10px 0;
    color: $theme-light-purple;
    font-size: 9pt;
  }

  p {
    @include paragraph;
  }

  .line {
    width: 350px;
    height: 2px;
    background-color: $theme-extra-light-blue;
    margin-top: 25px;
  }

  .description, .figure {
    display: flex;
    flex: 1;
  }

  .description {
    flex-direction: column;
  }

  .figure {
    align-content: center;
    justify-content: center;
  }
}