@import "../../styles/constants";
@import "../../styles/fonts";

.header {
  background-color: $theme-medium-blue;

  .call-to-action {
    font-family: $source-sans-pro-font-family;
    font-weight: bold;
    font-size: 30pt;
    color: $theme-white;
  }

  .call-to-action-button {
    width: 206px;
    height: 57px;
    border-radius: 38px;
    background-color: $theme-white;
    font-family: $source-sans-pro-font-family;
    font-size: 15pt;
    color: $theme-medium-blue;
  }
}