@import "../../styles/constants";
@import "../../styles/fonts";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;

  .header-inner {
    position: relative;
    z-index: 3;
  }

  .call-to-action {
    color: $theme-white;
    max-width: 800px;

    &::selection {
      background-color: $theme-medium-blue;
    }
  }

  .call-to-action-button {
    width: 260px;
    height: 57px;
    border-radius: 38px;
    background-color: $theme-white;
    font-family: $source-sans-pro-font-family;
    font-size: 15pt;
    color: $theme-medium-blue;
    box-shadow: 0px 5px 35px 0px rgba($theme-dark-purple, 0.15);
    transition: 200ms box-shadow ease-in-out;

    &:active, &:focus, &:hover {
      box-shadow: 0px 5px 35px 0px rgba($theme-dark-purple, 0.35);
    }
  }
}