@import "../../styles/constants";
@import "../../styles/fonts";

.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 800px;

  .footer-contents {
    position: relative;
    padding: 45px;
    margin-bottom: 50px;
  }

  .footer-background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }

  .footer-column-container {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
  }

  .column-label {
    font-family: $source-sans-pro-font-family;
    font-weight: lighter;
    color: $theme-medium-purple;
    font-size: 14pt;
    margin-top: 8px;
  }

  .logo-subtitle {
    font-family: $source-sans-pro-font-family;
    font-weight: lighter;
    color: $theme-extra-light-blue;
    font-size: 14pt;
  }

  .footer-nav-link {
    font-family: $source-sans-pro-font-family;
    font-weight: lighter;
    color: $theme-extra-light-blue;
    font-size: 14pt;
    text-decoration: none;
    margin: 10px 0;
  }
}