@import "../../styles/constants";
@import "../../styles/fonts";

.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  background-color: $theme-dark-purple;
  
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    background-color: $theme-extra-light-blue;
  }

  .footer-contents {
    position: relative;
    padding: 45px;
  }

  .footer-background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    width: 100%;
    height: auto;
    background-color: transparent;
    pointer-events: none;
  }

  .footer-column-container {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
  }

  .column-label {
    color: $theme-light-purple;
    font-size: 12pt;
    margin-top: 8px;
    font-family: $work-sans-font-family;
    font-weight: bold;
    letter-spacing: 2.8pt;
    text-transform: uppercase;
  }

  .footer-nav-link {
    font-family: $source-sans-pro-font-family;
    font-weight: lighter;
    color: $theme-extra-light-blue;
    font-size: 14pt;
    text-decoration: none;
    margin: 10px 0;
  }

  .copyright-row {
    margin-top: 60px;
    display: flex;
    padding: 45px 45px 0px 45px;
    align-items: center;
    justify-content: center;
  }

  .copyright-row-item {
    margin: 0px 15px;
  }

  .copyright-text, .github-text, .location-text {
    font-family: $source-sans-pro-font-family;
    font-weight: lighter;
    color: $theme-light-purple;
    font-size: 9pt;

    .separator {
      margin: 0 15px;
    }

    a {
      color: $theme-extra-light-blue;
      font-weight: bold;
    }
  }
}