@import "../../../../styles/constants";
@import "../../../../styles/fonts";

.privacy-policy-header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 45px 45px 45px;

  .header-inner {
    position: relative;
    z-index: 3;
    width: 100%;
  }

  .call-to-action {
    color: $theme-white;
    max-width: 800px;

    &::selection {
      background-color: $theme-medium-magenta;
    }
  }
}
