@import "./styles/constants";

html, body, main {
  margin: 0;
  width: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

main {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.flex-1 {
  display: flex;
  flex: 1;
}
